@using AddressBookMVC.Services.Interfaces
@model AddressBookMVC.Models.Contact
@inject IImageService _imageService

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Contact</h1>

<h3>Are you sure you want to delete @Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.LastName)?</h3>
<div>
    <div class="mb-3">
        @if(Model!.ImageData != null)
        {
            <img src="@_imageService.ConvertByteArrayToFile(Model.ImageData, Model.ImageType)" class="img-fluid contact-list-image" style="width:100px;height:100px" alt="@Html.DisplayFor(m => m.FirstName)  @Html.DisplayFor(m => m.LastName)">
        }
        else
        {
            <img src="https://cdn.icon-icons.com/icons2/233/PNG/512/Contacts_26253.png" class="img-fluid contact-list-image" style="width:100px;height:100px" alt="Default Image">
        }
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="glass-button text-danger" />
        <a asp-action="Index" class="glass-button text-light">Cancel</a>
    </form>
</div>
