@using AddressBookMVC.Services.Interfaces
@model IEnumerable<AddressBookMVC.Models.Contact>
@inject IImageService _imageService

@{
    ViewData["Title"] = "Index";
}

<h1>Address Book</h1>

<p>
    <a asp-action="Create" class="glass-button text-light">Create New Contact</a>
</p>

@foreach (var item in Model!) 
{
    <div class="mb-3 glass-style glass-style-light">
        <div class="row g-2">
            <div class="col-md-4">
                @if(item.ImageData != null)
                {
                    <img src="@_imageService.ConvertByteArrayToFile(item.ImageData, item.ImageType)" class="img-fluid contact-list-image" alt="@Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)">
                }
                else
                {
                    <img src="https://cdn.icon-icons.com/icons2/233/PNG/512/Contacts_26253.png" class="img-fluid contact-list-image" alt="Default Image">
                }
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h5>
                    <div class="card-text">
                        Email: @Html.DisplayFor(modelItem => item.Email)
                    </div>
                    <div class="card-text">
                        Phone: @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </div>
                    <a asp-action="Edit" asp-route-id="@item?.Id"><i class="bi-pencil-fill" style="font-size: 1.5rem; color:white"></i></a>
                    <a asp-action="Details" asp-route-id="@item?.Id"><i class="bi-person-fill" style="font-size: 1.5rem; color:white"></i></a>
                    <a asp-action="Delete" asp-route-id="@item?.Id"><i class="bi-trash-fill" style="font-size: 1.5rem; color:red"></i></a>
                </div>
            </div>
        </div>
    </div>
}